html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(243, 228, 211);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    margin: 0px;
    padding: 6.8px 0;
}

nav li  {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    display: inline-block;
    width: 120px;
    
}

.nav-button {
    color: black;
    text-decoration:none;
}

.nav-button:hover  {
    text-decoration: underline;
}


main {
   text-align: center;
   position: relative;
   top: 80px; 
}

main h1 {
    color: rgb(2, 2, 114);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    padding-top: 80px;
    margin-bottom: 50px;
}

main h2 { 
    color: rgb(2, 2, 114);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    padding-right: 40px;
    margin-bottom: 80px;
    text-align: right;
}

footer {
    background-color: bisque;
    color: black;
    padding: 30px 0;
    margin-top: 10px;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center top;
}

.jumbotron {
    height: 800px;
    background-image: url(book-pages2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-main {
    background-color: rgb(110, 110, 244);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-main:hover {
    background-color: transparent;
    color: rgb(45, 6, 184); 
}

.btn-down:hover  {
    background-color: #3245b1; 
    color: white;
    border: white; 
}   


.supporting {
    padding-top: 100px;
    padding-bottom: 50px;
}

.supporting .col {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 200px;
}

.supporting img {
    height: 50px;
}

.supporting h2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.supporting p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    padding: 10 20px;
    margin-bottom: 50px;
}

.supporting a {
    background-color: white;
    color: rgb(2, 2, 114);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 0;
    border: 2px solid black;
    border-radius: 50px;
}

@media (max-width: 500px) {
    main h1 {
        font-size: 50px;
        padding: 0 40px;
    }
}

.container {
    position: relative;
}

.nav-button {

}
   
